.addLayerBtn {
    margin-right: var(--spacers-dp8);
    border-right: 1px solid #e0e0e0;
}

.btnContent {
    width: 276px;
    padding-left: var(--spacers-dp8);
    text-align: left;
    display: flex;
}

.btnContent svg {
    margin-right: var(--spacers-dp8);
    color: var(--colors-grey700);
}
