.layerList {
    position: relative;
}

.list {
    max-width: 696px;
    max-height: calc(100vh - 150px);
    padding: var(--spacers-dp16) 0 0 var(--spacers-dp16);
    overflow-y: auto;
}

.split {
    width: 360px;
    padding: 40px 50px;
    line-height: 25px;
    font-style: italic;
}
