.layerList {
    position: relative;
}

.list {
    max-height: calc(100vh - 150px);
    padding: var(--spacers-dp8) 0;
    overflow-y: auto;
}

.split {
    width: 360px;
    padding: 40px 50px;
    line-height: 25px;
    font-style: italic;
}
