.legend {
    padding-left: var(--spacers-dp32);
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.loadError {
    padding: var(--spacers-dp8);
    padding-left: var(--spacers-dp32);
}
