@keyframes tooltipExpandRight {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0% 0 0);
    }
}

.labelTooltip {
    animation: tooltipExpandRight 160ms ease-out;
    color: var(--colors-grey900);
    background: white;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    -webkit-mask-image: linear-gradient(to left, transparent, black 2em);
    mask-image: linear-gradient(to left, transparent, black 2em);
    padding: 0px 2em 0px 0px;
    pointer-events: none;
    position: fixed;
    white-space: nowrap;
    z-index: 1000;
}
