.legendItem {
    height: 20px;
}

.legendItem th {
    width: 20px;
    min-width: 20px;
    height: 20px;
    padding: 0;
    vertical-align: middle;
    line-height: 0;
}

.legendItem th span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* Ensure background prints correctly */
    -webkit-print-color-adjust: exact;
    /* Chrome, Safari */
    print-color-adjust: exact;
    /* Firefox */
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--colors-grey100);
}

.clickable:focus-visible {
    outline: 2px solid var(--colors-blue600);
    outline-offset: -2px;
}

.active {
    background-color: var(--colors-blue050);
}

.active:hover {
    background-color: var(--colors-blue100);
}
