.alert {
    border: 1px solid;
    border-radius: 3px;
    display: flex;
    gap: 8px;
    padding: 8px;
}

.error {
    background-color: var(--colors-red050);
    border-color: var(--colors-red500);
    color: var(--colors-red500);
}

.warning {
    background-color: var(--colors-yellow050);
    border-color: var(--colors-yellow600);
    color: var(--colors-yellow600);
}

.icon {
    flex-shrink: 0;
    line-height: 0;
    margin-top: 1px;
}

.title {
    color: var(--colors-grey900);
    display: block;
    font-weight: 500;
}

.message {
    color: var(--colors-grey800);
    display: block;
    margin-top: 2px;
}
