.legend {
    margin: 0 var(--spacers-dp8) var(--spacers-dp16) 0;
    line-height: 18px;
}

.legend table {
    border-collapse: collapse;
    border-spacing: 0;
}

.description {
    padding-bottom: var(--spacers-dp12);
}

.period {
    padding-bottom: var(--spacers-dp12);
}

.legendImage {
    max-width: 240px;
}

.filters {
    padding-top: var(--spacers-dp16);
    font-size: 12px;
}

.filters > div:first-child {
    font-weight: bold;
}

.unit {
    line-height: var(--spacers-dp24);
    font-weight: bold;
}

.explanation {
    padding-top: var(--spacers-dp16);
}

.source {
    padding-top: var(--spacers-dp16);
    font-size: 12px;
}
