body {
    padding: 0;
    margin: 0;
}

.dhis-gis-menu {
    button: disabled {
        opacity: 0.5;
    }
}

/* Fix to allow menus to have a width that fits its content in Material-UI 0.20 */
div[role='presentation'] {
    width: auto !important;
    max-width: 400px;
}
