.dhis-basemap-tile > div {
    height: 24px!important;
}

.dhis-basemap-tile > div > div {
    margin-left: 8px!important;
}

.dhis-layer-tile > div {
    height: 24px!important;
    background: #fff!important;
    bottom: 7px!important;
}

.dhis-layer-tile > div > div {
    margin-left: 0!important;

}

.leaflet-container {
    height: 100%;
}



