.dhis2-map-widget-container {
  height: 100%;

  .dhis2-map-title {
    height: 19px;
    font-weight: bold;
    font-size: 12px;
    font-family: LiberationSans, arial, sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    line-height: 14px;
    letter-spacing: -0.1px;
  }

  .leaflet-container {
    height: calc(100% - 19px);
    border: 1px solid rgb(208, 208, 208);
  }

  .dhis2-map-widget-alert {
    font-size: 11px;
    padding-left: 20px;
  }

  .leaflet-popup {
    max-height: 250px;

    .leaflet-popup-content {
      max-height: 200px;
      overflow-y: auto;

      th {
        white-space: nowrap;
        vertical-align: top;
        color: #333;
        padding: 0;
        font-weight: bold;
        padding-right: 10px;
        font-size: 12px;
        border: 0;
        min-height: 0;
      }
    }
  }
}

