.content {
    overflow-x: hidden;
}

.select {
    width: auto;
    max-width: 340px;
}

.periodSelect {
    width: auto;
    max-width: 360px;
}

.tabContent {
    width: calc(100% + var(--spacers-dp32));
    margin: var(--spacers-dp12) -16px 0;
    height: 410px;
    overflow-y: auto;
    font-size: 14px;
    color: #333;
}

.flexColumnFlow {
    display: flex;
    flex-wrap: wrap;
}

.flexRowFlow {
    display: flex;
    flex-direction: column;
    margin: 0 var(--spacers-dp16);
}

.flexColumn {
    flex: 1 1 0px;
    margin: var(--spacers-dp4) var(--spacers-dp16) 0;
    box-sizing: border-box;
    max-width: 260px;
}

.flexInnerColumnFlow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    clear: both;
}

.flexInnerColumnFlow > div {
    flex: 1;
    margin: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp4);
}

.flexInnerColumn {
    flex: 1;
    margin: var(--spacers-dp8);
}

.singleColumn {
    max-width: 400px;
}

.header {
    composes: flexInnerColumnFlow;
    margin: var(--spacers-dp12) 0;
    font-size: 14px;
    font-weight: bold;
}

.paragraph {
    padding: var(--spacers-dp8) 0 var(--spacers-dp4);
    font-size: 13px;
    line-height: var(--spacers-dp16);
}

.notice {
    margin: var(--spacers-dp16) 0;
}

.error {
    margin-top: var(--spacers-dp8);
    color: var(--theme-error);
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 8px;
}

.indent {
    margin-left: var(--spacers-dp24);
}

.orgUnitTree {
    composes: flexColumn;
    overflow: hidden;
}

.checkboxInline {
    height: 70px;
    padding-top: var(--spacers-dp24);
}

.fontInline {
    margin: -10px 0 10px;
}

.numberField {
    composes: flexInnerColumn;
    max-width: 140px;
}

.checkbox {
    margin: 8px 0 0 -8px;
}

/* Thematic */

.navigation {
    flex-grow: 0; 
    margin-bottom: 8px;
}

/* Tracked entity */

.teiCheckbox {
    float: left;
    margin-top: var(--spacers-dp16);
    width: 180px;
}

/* Org unit */

.marginBottom {
    margin-bottom: var(--spacers-dp16);
}

.narrowField {
    width: 120px;
}

.narrowFieldIcon {
    width: 128px;
}

/* Earth Engine */

.eeFlexFull {
    margin-bottom: var(--spacers-dp12);
}

.legend {
    composes: legend from '../../legend/styles/Legend.module.css';
    margin-left: 0;
}

.legendTitle {
    font-size: 14px;
    padding: var(--spacers-dp12) 0;
}

.scale {
    margin-left: var(--spacers-dp8);
    margin-top: var(--spacers-dp16);
}

.eeError {
    width: 100%;
    color: rgb(244, 67, 54);
    font-size: 12px;
    line-height: 12px;
    margin-left: var(--spacers-dp12);
}

.eeNotice {
    font-weight: bold;
}

.labelDisplayOptions {
    margin-left: 23px;
}
