.item {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
    font-size: 14px;
    margin-bottom: var(--spacers-dp4);
}

.color {
    flex-shrink: 0;
    margin-bottom: 0;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
