node_modules
build
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress.env.json
yarn-error.log
.jshintignore
.jshintrc

# DHIS2 Platform
.d2
src/locales

# IDEs and environment
.DS_Store
.idea
.vscode
maps-app.code-workspace