language: node_js
node_js:
    - 8.11.1
addons:
  apt:
    packages:
    - libgconf-2-4
cache:
    directories:
        - $HOME/.cache
install:
    - yarn global add @dhis2/deploy-build
    - yarn install --frozen-lockfile
    - yarn cy:verify
script:
    - yarn build
    - DHIS2_BASE_URL=http://localhost:8080 yarn start &> /dev/null &
    - yarn cy:stub:run --record false
    - kill $(jobs -p) || true
deploy:
    - provider: script
      script: deploy-build
      skip_cleanup: true
      on:
          all_branches: true
env:
    global:
        secure: hL7GzkmHaNnLzgrqNNdMjJiBxyB5v0KAeztVSDsglafAJhByBq4mDaMwoe3TeFg87Ui8txtg4thHfmkPBNC4WdoBFKtc37O3vDxno84ybB5Timmc8oCV0QubobZk6zI4hc+tMO2F2Ke5pgAwzqFVj2r2ue6mEcy4JXXd6+yxGOho7uGHOnpY6y9I5pJ5rreE9F4PpbHz176EuhJPz5dy0YRGnREHWzDvR8O8VXIMq1RZLSYQOpfKv6wbaUtzmNWcNO8cPjJw1h8OBRKNqaMrDOOq/4u6PnZcON2As7O99bJbY0hWK4UsRs6+//PWef496sxH5+AR4ws6jHQ6AjOvNOvC0PNXZ8Jtyui7BTO1zSjefd3Y7kGPn+D8WIzNjpK67BcJF9+okyTffkpfBi3kXY9gdOPGUm/4SMYyRyxePxEo0OwlvU80Ivz9kUtKhC+Iltw6Ent0GSscloAihal/sy2K28bSjVhAXjJD3utz+vqHJvUrxoAGmwPyU76qtI+CPew5tYeBu26DTS0P77s94NeB/0N4Am4vqOpmxqOcJc3AZyGpkZjIe0qjwR4CyhkP6i6vm15rE5o9JlAIQKeCHTcKpZpiz4vAhJeywqJeyfAeU1RDVWWpTAE0nBdAxo7pokrjrJT95fn7Wf3+xZzv93MIjWzQpndXSqeav+8HWDg=
