<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DHIS2 Maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <div id="context-menu"></div>

    <%= htmlWebpackPlugin.options.vendorScripts %>
    <%= htmlWebpackPlugin.options.serviceWorkerScript %>
</body>
</html>