.filterRow {
    display: flex;
    position: relative;
    margin-bottom: var(--spacers-dp8);
    padding: -0 56px 0 var(--spacers-dp8);
    background-color: var(--colors-grey050);
    border-radius: var(--spacers-dp4);
    border: 1px solid var(--colors-grey300);
    clear: both;
}

.dataItemSelect {
    float: left;
    margin-right: var(--spacers-dp24);
    width: calc((100% - 48px) / 8 * 3);
}
