.downloadModeMenu {
    display: flex;
    position: absolute;
    width: 100%;
    height: 44px;
    z-index: 1200;
    padding-top: 1px;
    background-color: var(--colors-grey600);
}

.downloadModeMenu button {
    margin: 3px 0 0 var(--spacers-dp16);
}

:global(.downloadModeMenu) header,
:global(.dhis2-map-download .dhis2-map-ctrl-measure-actions),
:global(.dhis2-map-download .dhis2-map-popup-orgunit button),
:global(.dhis2-map-downloading .maplibregl-popup-close-button) {
    display: none;
}

