.downloadPanel {
    padding-left: var(--spacers-dp24);
    background-color: #fff;
    height: 100%;
    width: 380px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}

.downloadPanel h1 {
    font-size: 24px;
    margin: 0 0 var(--spacers-dp16);
}

.downloadPanel p {
    margin: 0 0 var(--spacers-dp24);
}

.downloadPanel div a:link,
.downloadPanel div a:visited {
    color: var(--colors-grey900);
}
