.downloadDialog {
    padding: var(--spacers-dp8) var(--spacers-dp16);
    background-color: #fafafa;
    height: 100%;
}

.dialogContent {
    padding-bottom: var(--spacers-dp8);
}

.checkbox {
    padding-bottom: var(--spacers-dp16);
}

.help {
    padding-top: var(--spacers-dp4);
}
