.legend {
    margin-bottom: var(--spacers-dp24);
}

.legend dl {
    font-size: 14px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
}

.period {
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-top: 2px;
}
