.downloadDialog {
    padding: var(--spacers-dp8) var(--spacers-dp16);
    background-color: #fafafa;
    height: 100%;
}

.dialogContent {
    padding-bottom: var(--spacers-dp24);
}

.checkbox {
    padding-bottom: var(--spacers-dp16);
}
