/* Based on https: //github.com/dhis2/analytics/blob/master/src/components/Toolbar/MenuButton.styles.js */

.button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    padding: 0 var(--spacers-dp12);
    color: var(--colors-grey900);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

.button:hover:enabled,
.button:active {
    background-color: var(--colors-grey200);
}

.button:focus {
    outline: 3px solid var(--theme-focus);
    outline-offset: -3px;
}

/* Prevent focus styles when mouse clicking */
.button:focus:not(:focus-visible) {
    outline: none;
}

.button:disabled {
    color: var(--colors-grey500);
    cursor: not-allowed;
}
