.downloadModeMenu {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    z-index: 1200;
    background-color: var(--colors-grey600);
    left: 0;
    top: 0;
}

.downloadModeMenu button {
    margin-left: var(--spacers-dp16);
}

:global(.dhis2-map-download .dhis2-map-ctrl-measure-actions),
:global(.dhis2-map-download .dhis2-map-popup-orgunit button),
:global(.dhis2-map-downloading .maplibregl-popup-close-button) {
    display: none;
}
