.root {
    width: 150px;
    padding-left: 30px;
}

.label {
    font-size: 14px;
    padding: 5px;
}

.position {
    position: relative;
    display: inline-block;
    background-color: var(--colors-grey100);
    width: 50px;
    height: 50px;
    margin: 1px 5px;
    outline: 1px solid var(--colors-grey400);
    cursor: pointer;
}

.legend {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--colors-grey900);
}

.selected {
    outline: 3px solid var(--colors-blue600);
}

.topleft {
    top: 8px;
    left: 8px;
}

.topright {
    top: 8px;
    right: 8px;
}

.bottomleft {
    bottom: 8px;
    left: 8px;
}

.bottomright {
    bottom: 8px;
    right: 8px;
}
