.periodSelect {
    margin-top: var(--spacers-dp16);
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    margin: var(--spacers-dp4) 0 0;
    box-sizing: border-box;
}

.year {
    width: 35%;
    padding-right: var(--spacers-dp16);
    box-sizing: border-box;
}

.period {
    width: 65%;
}

.loading {
    display: flex;
    align-items: center;
    font-style: italic;
    padding-top: var(--spacers-dp12);
    padding-left: var(--spacers-dp16);
}

.loading div {
    display: inline-block;
    margin-right: var(--spacers-dp24);
}

.notice {
    margin: var(--spacers-dp16) var(--spacers-dp16);
}
