.title {
    color: var(--colors-grey900);
    padding-top: 8px;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select {
    width: 100%;
}

.classes {
    width: 50px;
    margin-right: var(--spacers-dp16);
    top: -8px;
    float: left;
}

.scale {
    display: block;
    padding-top: var(--spacers-dp8);
    clear: both;
}

.clear {
    clear: both;
}
