.select {
    width: 100%;
}

.classesRow {
    display: flex;
    gap: var(--spacers-dp16);
}

.classes {
    flex: 0 0 auto;
}

.scale {
    display: block;
    padding-top: var(--spacers-dp8);
}

.decimalPlaces {
    flex: 0 0 auto;
}

.singleColorRow {
    display: flex;
    gap: var(--spacers-dp16);
    align-items: flex-end;
    margin-bottom: var(--spacers-dp12);
}

.singleColorField {
    flex-shrink: 0;
    margin-bottom: 0;
}
