:global(#app) {
    position: relative;
    z-index: 0;
}

:global(#dhis2-portal-root) {
    position: relative;
    z-index: 1;
}

.app {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #cbcdcf;
    border-radius: 3px;
}
