.appLayout {
    display: flex;
    height: calc(100vh - 48px);
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mapAndTable {
    flex: auto;
    position: relative;
}

.downloadMode {
    display: flex;
    flex-direction: column;
}

.downloadContent {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.downloadMap {
    flex: auto;
    /* position: relative; */
}
