.appLayout {
    display: flex;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
}

.appContent {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.appMapAndTable {
    flex: auto;
    position: relative;
}

.downloadContent {
    margin-top: var(--header-height);
}

.downloadMap {
    flex: auto;
}
