.table {
    width: 100%;
    border-collapse: collapse;
    line-height: var(--spacers-dp16);
}

.table caption {
    color: var(--colors-grey600);
    font-weight: bold;
    text-align: left;
    padding-bottom: var(--spacers-dp4);
}

.table caption .group {
    padding-top: var(--spacers-dp4);
    font-weight: normal;
}

.table caption .group div {
    white-space: nowrap;
}

.table caption .unit {
    padding-top: var(--spacers-dp4);
    font-weight: normal;
}

.table thead {
    color: var(--colors-grey600);
    font-weight: 500;
    border-bottom: 1px solid var(--colors-grey300);
}

.table tfoot {
    border-top: 1px solid var(--colors-grey300);
}

.table th,
.table td {
    text-align: right;
    font-weight: normal;
}

.table thead th:first-child,
.table tbody th,
.table tfoot th {
    text-align: left;
}

.table thead th,
.table tfoot th {
    font-weight: 500;
}

.table thead th:not(:first-child),
.table td {
    padding-left: var(--spacers-dp12);
}

.classes th:first-child {
    width: 20px;
}

.classes th:nth-child(2) {
    padding-left: var(--spacers-dp8);
}
