.layersPanel {
    width: var(--left-panel-width);
}

.layersPanel.collapsed {
    width: 0px;
}

.layersPanelInner {
    background-color: var(--colors-grey200);
    border-right: 1px solid var(--colors-grey400);
    height: 100%;
    overflow-y: auto;
    z-index: 1190;
    transform: translateX(0);
}

.layersPanel.collapsed .layersPanelInner {
    transform: translateX(calc(var(--left-panel-width) * -1));
}
