.layersToggle {
    position: absolute;
    top: 104px;
    left: var(--left-panel-width);
    width: 24px;
    height: 40px;
    padding: var(--spacers-dp8) 0;
    color: var(--colors-grey600);
    background-color: var(--colors-white);
    box-shadow: var(--elevations-e100);
    z-index: 1100;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.layersToggle.collapsed {
    left: 0;
}

.layersToggle:hover {
    background-color: var(--colors-grey050);
    color: var(--colors-grey900);
    box-shadow: var(--elevations-e200);
}
