.card {
    position: relative;
    margin: var(--spacers-dp4) var(--spacers-dp4) -2px var(--spacers-dp4);
    padding-bottom: 0;
    z-index: 1200;
}

.cardHeader {
    height: 54px;
    padding: 2px 8px 0 18px;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--colors-grey900);
}

.title {
    flex: 1 1 auto;
}

.title h2 {
    width: 242px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 17px;
    margin: 0;
}

.title h3 {
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: var(--colors-grey800);
}

.overlay h2,
.overlay h3 {
    padding-left: var(--spacers-dp16);
}

.action {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: -8px;
    margin-right: -8px;
    color: var(--colors-grey600);
}

.expand {
    position: absolute;
    top: 11px;
    right: 2px;
    width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
}

.content {
    font-size: 14px;
}

.collapsibleContent {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.expanded .collapsibleContent {
    max-height: 100vh;
}
