.layersToggle {
    position: absolute;
    top: 104px;
    left: var(--left-panel-width);
    width: 24px;
    height: 40px;
    padding: var(--spacers-dp8) 0;
    color: var(--colors-grey600);
    background-color: var(--colors-white);
    box-shadow: 3px 1px 5px -1px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    cursor: pointer;
    transition: left var(--left-panel-transition-time) ease-out;
}

.layersToggle.collapsed {
    left: 0;
}

.layersToggle:hover {
    background-color: var(--colors-grey100);
}
