.buffer {
    margin: 0 -8px;
    clear: both;
    align-items: center;
    min-height: 76px;
}

.buffer > span > div {
    margin: var(--spacers-dp8);
}

.numberField {
    padding-left: 23px;
}

.info {
    padding-left: 23px;
    line-height: 20px;
    color: rgb(110, 122, 138);
    font-style: italic;
}
