.buffer {
    margin: 0;
    clear: both;
    align-items: center;
}

.labelOnly {
    margin-bottom: var(--spacers-dp4);
}

.numberField {
    padding-left: 23px;
    margin-top: var(--spacers-dp8);
}

.info {
    padding-left: 23px;
    line-height: 20px;
    color: rgb(110, 122, 138);
    font-style: italic;
}
