.centroid {
    margin-top: var(--spacers-dp8);
    clear: both;
    align-items: center;
}

.notice {
    margin: var(--spacers-dp12) 0 var(--spacers-dp4);
}

.noticeCompact {
    margin: 0 0 var(--spacers-dp8);
    max-width: 340px;
}
