.day {
    padding-left: 10px;
    padding-right: 10px;
    color: #555;
}

.temp {
    font-size: 16px;
    text-align: right;
    color: #c60000;
    padding-right: 10px;
}

.precip {
    font-size: 14px;
    text-align: right;
    color: #006edb;
    padding-left: 20px;
}

.wind {
    font-size: 14px;
    text-align: right;
    color: #555;
    padding-left: 30px;
    padding-right: 10px;
}
