.table {
    border-collapse: collapse;
    width: 100%;
}

.table thead {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.table tr {
    margin-top: 10px;
    border-bottom: 1pt solid #ccc;
}
.table td {
    padding-top: 3px;
    padding-bottom: 0px;
}

.table td.right {
    text-align: right;
}

.table thead td:last-child {
    padding-right: 10px;
}

.source {
    color: #333;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
}

.source a {
    color: #333;
}
