.toolbar {
    height: var(--spacers-dp32);
    min-height: var(--spacers-dp32);
    padding: 2px var(--spacers-dp4) 2px var(--spacers-dp8);
    border-top: 1px solid var(--colors-grey300);
    color: var(--colors-grey600);
    display: flex;
}

.editButton {
    margin-right: var(--spacers-dp8);
}

.sliderContainer {
    margin-left: var(--spacers-dp8);
    margin-top: 1px;
}

.menuButton {
    margin-left: auto;
}
