.toolbar {
    position: relative;
    height: var(--spacers-dp32);
    min-height: var(--spacers-dp32);
    padding: 2px var(--spacers-dp8);
    border-top: 1px solid var(--colors-grey300);
    color: var(--colors-grey600);
}

.spacer {
    float: left;
    height: 28px;
    width: var(--spacers-dp8);
}

.button {
    float: left;
}

.sliderContainer {
    float: left;
    margin-left: var(--spacers-dp8);
}
