.container {
    width: 100px;
    height: var(--spacers-dp32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    background: var(--colors-grey800);
    outline: none;
    border-radius: 1px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--colors-grey800);
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: var(--colors-grey800);
    border-radius: 50%;
}
