.colorPicker {
    margin-bottom: var(--spacers-dp12);
}

.colorPicker label {
    display: inline-block;
    position: relative;
    border: 1px solid var(--colors-grey500);
    border-radius: 3px;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
}

.colorPicker input {
    visibility: hidden;
    height: 100%;
}

.label {
    font-size: 14px;
    padding: 1px 0 var(--spacers-dp4);
}

.icon {
    position: absolute;
    height: 24px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--colors-white);
}

.dark {
    color: var(--colors-grey900);
}
