.colorScale {
    margin: var(--spacers-dp8) 0 0 0;
    padding-left: 0;
    height: 36px;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(var(--colors-grey900), 0.12),
        0 1px 4px rgba(var(--colors-grey900), 0.12);
    display: inline-block;
    white-space: nowrap;
}

.item {
    margin-left: 0;
    display: inline-block;
    height: 100%;
}
