.drawer {
    background-color: var(--colors-grey200);
    height: 100%;
    overflow-y: auto;
}

.left {
    border-right: 1px solid var(--colors-grey400);
    box-shadow: 1px 0 1px 0 rgba(var(--colors-grey900), 0.2);
}

.right {
    border-left: 1px solid var(--colors-grey400);
    box-shadow: 0 1px 2px 0 rgba(var(--colors-grey900), 0.2);
}
