.fontStyle {
    display: flex;
    align-items: flex-end;
}

/* !important will be removed when we switch to ui-icons */
.button {
    background: #fafafa;
    margin: 0 8px 8px 0 !important;
    border-radius: 0 !important;
    width: 40px;
    height: 40px;
}
