.fontStyle {
    display: flex;
    align-items: flex-end;
    margin-bottom: var(--spacers-dp8);
    padding-left: var(--spacers-dp24);
}

.fontStyle > * {
    max-width: 74px;
    margin-right: var(--spacers-dp8);
}

.textSize {
    margin-bottom: 2px;
}
