.iconButton {
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

.iconButton.disabled svg {
    fill: var(--colors-grey400);
    cursor: not-allowed;
    color: var(--colors-grey400)
}

.iconButton:not(.disabled):hover {
    background-color: var(--colors-grey200);
}

.iconButton svg {
    color: var(--colors-grey700);
}

.iconButton:not(.disabled):hover svg {
    color: var(--colors-grey900);
}
