.iconButton {
    width: var(--spacers-dp32);
    height: var(--spacers-dp32);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButton > span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    display: block;
}
