.imageSelect {
    font-size: 14px;
    max-width: 162px;
}

.title {
    color: var(--colors-grey900);
    padding-bottom: 6px;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageContainer {
    position: relative;
    overflow: visible;
    border: 1px solid var(--colors-grey400);
    box-sizing: border-box;
    margin: 2px;
    cursor: pointer;
}

.imageContainerSelected {
    margin: 0;
    border: 3px solid var(--theme-primary700);
}

.image {
    width: 100%;
    display: block;
}

.noImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colors-grey200);
    color: var(--colors-grey500);
    text-align: center;
    line-height: 56px;
}
