.radioGroup {
    margin-bottom: var(--spacers-dp12);
}

.radioGroup fieldset > div > label {
    margin-top: var(--spacers-dp12);
}

.radioGroup fieldset > div > div > label {
    height: 36px;
}

.radioGroup.compact fieldset>div>div>label {
    height: 20px;
}

.row {
    margin: var(--spacers-dp8) 0;
}

.row fieldset > div > div {
    display: flex;
}

.row fieldset > div > div > label {
    margin-right: var(--spacers-dp16);
}

.boldLabel {
    font-weight: bold;
}
