.orgUnitField {
    margin-top: var(--spacers-dp8);
    border-top: 1px solid #eee;
    padding-top: var(--spacers-dp12);
}

.orgUnitFieldDescription {
    margin-top: -4px;
    color: rgb(110, 122, 138);
    font-style: italic;
    font-size: 13px;
    line-height: 1.3;
}
