.orgUnitTree {
    position: relative;
    width: 100%;
    height: 390px;
    padding: var(--spacers-dp8);
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.disabled {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacers-dp40);
    line-height: 30px;
    font-style: italic;
}
