.info {
    color: var(--colors-grey700);
    font-size: 14px;
}

.info img {
    width: 100%;
    margin-bottom: var(--spacers-dp16);
}

.info h3 {
    margin: 0 0 var(--spacers-dp8);
    font-size: 18px;
    font-weight: 450;
    color: var(--colors-grey900);
}

.level {
    line-height: 24px;
}

.level svg {
    margin-right: 5px;
    vertical-align: text-bottom;
}

.desc {
    line-height: 20px;
    margin: var(--spacers-dp8) 0;
}

.list {
    margin: var(--spacers-dp8) 0;
}
