.orgUnitSelect :global(.orgUnitTreeWrapper) {
    max-height: 315px;
}

.orgUnitSelectCompact :global(.orgUnitTreeWrapper) {
    max-height: 220px;
}

.orgUnitSelect :global(.userOrgUnitsWrapper label),
.orgUnitSelectCompact :global(.userOrgUnitsWrapper label)
{
    margin-right: 36px;
}