.orgunit {
    font-size: 14px;
    margin-top: -12px;
}

.metadata {
    width: 200px;
    float: left;
    line-height: 20px;
}

.metadata h3 {
    font-size: 14px;
    margin: var(--spacers-dp12) 0 0;
}

.data {
    float: left;
    width: 345px;
}

.loading {
    display: flex;
    align-items: center;
}
