.orgUnitSelect :global(.orgUnitTreeWrapper) {
    max-height: 220px;
}

.orgUnitSelect :global(.userOrgUnitsWrapper label) {
    margin-right: 34px;
}

.event :global(.orgUnitTreeWrapper),
.trackedEntity :global(.orgUnitTreeWrapper) {
    max-height: 315px;
}   

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
