.drawer {
    background-color: #fff;
}

.header {
    position: relative;
    background-color: #eee;
    line-height: 40px;
    padding-left: var(--spacers-dp12);
    font-size: 15px;
    font-weight: 500;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.close svg {
    margin: auto;
    color: var(--colors-grey700);
}
