.userOrgUnits {
    margin-top: var(--spacers-dp12);
    font-size: 14px;
}

.userOrgUnits svg rect {
    stroke: #555;
    fill: none;
}

.userOrgUnits svg :global rect.filled {
    stroke: #555;
    fill: #555;
}

.userOrgUnits svg path {
    stroke: #555;
}

.title {
    margin-bottom: var(--spacers-dp4);
}

.container {
    display: flex;
}

.level {
    flex: 33%;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    outline: 1px solid var(--colors-grey300);
    padding-bottom: var(--spacers-dp8);
}

.selectedLevel {
    outline: 3px solid var(--theme-primary700);
}

.icon {
    display: block;
    margin: 10px auto;
}
