.LayerCard {
    clear: both;
    z-index: 2000!important;
    margin: 8px 4px 8px 4px;
}

.LayerCard-header {
    height: 56px;
    padding-left: 14px;
    padding-right: 8px;
    margin-right: -8px;
    font-size: 10px;
}

.LayerCard-header span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}