.BasemapCard {
    clear: both;
    z-index: 1010;
}

.BasemapCard-header {
    height: 56px;
    padding-left: 14px;
    padding-right: 8px;
    margin-right: -8px;
    font-size: 10px;
}

.BasemapCard-header span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.BasemapCard-toolbar {
    background-color: #eee;
    height: 32px;
    padding-left: 7px;
}