.periodSelect {
    display: flex;
    align-items: flex-end;
}

.select {
    width: calc(100% - 80px);
}

.stepper {
    margin: 0 0 7px var(--spacers-dp4);
    white-space: nowrap;
}

.stepper > span {
    display: inline-block;
}

.stepper span button {
    height: 35px;
}

.stepper > span:first-child {
    margin-right: var(--spacers-dp4);
}

.stepper svg {
    color: var(--colors-grey600);
}
