.row {
    display: flex;
    gap: var(--spacers-dp4);
    align-items: flex-end;
}
.icon {
    flex-grow: 0;
    height: 40px;
    display: flex;
    align-items: center;
}
.error {
    margin-top: var(--spacers-dp8);
    color: var(--theme-error);
}