.timeline {
    composes: box from '../../../styles/map.css';
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    z-index: 1000px;
    user-select: none;
}

.play {
    cursor: pointer;
    fill: var(--colors-grey800);
}

.play:hover {
    fill: var(--colors-grey900);
}

.period {
    fill: var(--colors-white);
    stroke: var(--colors-grey700);
    stroke-width: 1px;
    fill-opacity: .8;
    cursor: pointer;
}

.period.selected {
    fill: var(--colors-blue600);
    fill-opacity: 1;
}

.period:hover:not(.selected) {
    fill: var(--colors-grey200);
    fill-opacity: .9;
}
