.timeline {
    composes: box from '../../../styles/map.css';
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    bottom: 32px;
    z-index: 1000px;
    user-select: none;
}

.play {
    cursor: pointer;
    fill: #333;
}

.play:hover {
    fill: #000;
}

.period {
    fill: #ffffff;
    stroke: #555;
    stroke-width: 1px;
    fill-opacity: .8;
    cursor: pointer;
}

.period.selected {
    fill: #147cd7;
    fill-opacity: 1;
}

.period:hover:not(.selected) {
    fill: #F3F5F7;
    fill-opacity: .9;
}
