.layerRow td {
    vertical-align: top;
}

.layerRow h2 {
    margin: var(--spacers-dp4) 0 0 0;
    font-size: 1rem;
    font-weight: 500;
}

.layerRow p {
    font-size: 0.9rem;
    margin: var(--spacers-dp4) 0;
}

.source {
    padding-top: var(--spacers-dp12);
}

.action {
    padding: 42px var(--spacers-dp24) 0;
    text-align: center;
}

.action button {
    min-width: 80px;
}

.image {
    box-sizing: border-box;
    border: 1px solid var(--colors-grey400);
    width: 120px;
    height: 120px;
    margin-right: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp4);
}

.noImage {
    box-sizing: border-box;
    border: 1px solid var(--colors-grey400);
    width: 120px;
    height: 120px;
    line-height: 120px;
    background: var(--colors-grey200);
    color: var(--colors-grey500);
    font-size: 12px;
    text-align: center;
    margin-bottom: var(--spacers-dp8);
}
