.filterRow {
    display: flex;
    position: relative;
    margin-bottom: var(--spacers-dp8);
    padding: var(--spacers-dp4) 62px 0 var(--spacers-dp12);
    background-color: var(--colors-grey050);
    border-radius: var(--spacers-dp4);
    border: 1px solid var(--colors-grey300);
    clear: both;
}

.dataItemSelect {
    float: left;
    margin-right: var(--spacers-dp12);
    width: calc((100% - 24px) / 8 * 3);
}

.help {
    display: flex;
    align-items: center;
}
