.operator {
    float: left;
    margin-right: var(--spacers-dp12);
    width: calc((100% - 24px) / 8 * 2);
}

.inputField {
    float: left;
    width: calc((100% - 24px) / 8 * 3);
}

.checkbox {
    padding-top: 26px;
}
