.filterRow {
    display: flex;
    position: relative;
    margin-bottom: var(--spacers-dp8);
    padding: 4px 56px 0 12px;
    background-color: var(--colors-grey050);
    border-radius: 4px;
    border: 1px solid var(--colors-grey300);
    clear: both;
}
