.filterRow {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    padding: 4px 56px 0 12px;
    /* backgroundColor: theme.palette.background.grey, */
    clear: both;
    border-radius: 4px;
    border: 1px solid #ccc;
}
