.dropdown {
    display: inline-block;
    width: 35%;
    position: relative;
    margin-top: -3px;
    padding: 0 var(--spacers-dp12) var(--spacers-dp8) 0;
    font-size: 14px;
    cursor: pointer;
}

.dropdown label {
    line-height: 24px;
}

.dropdown div {
    position: relative;
    line-height: 16px;
    color: rgb(33, 41, 52);
    border: 1px solid rgb(160, 173, 186);
    border-radius: 3px;
    box-shadow: rgba(48, 54, 60, 0.1) 0px 1px 2px 0px inset;
    background-color: #fff;
}

.dropdown span {
    display: block;
    width: calc(100% - 44px);
    height: 31px;
    line-height: 32px;
    margin-left: var(--spacers-dp12);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown div svg {
    width: 16px;
    height: 32px;
    position: absolute;
    right: var(--spacers-dp8);
    top: 0;
    color: var(--colors-grey600);
}

.dimensions {
    width: 360px;
}
