.contentDiv {
    margin-bottom: var(--spacers-dp12);
}

.inputContainer {
    margin-top: var(--spacers-dp32);
}

.infoDiv {
    height: var(
        --spacers-dp20
    ); /* Ensure that we have enough buffer around the svg icon to prevent unnecessary scrollbars */
    display: flex;
    align-items: center;
    font-size: 0.85em;
    color: black; /* theme.palette.text.secondary; */
}

.icon {
    font-size: 1.125em;
    margin-right: var(--spacers-dp8);
}

.error {
    margin-top: var(--spacers-dp12);
    color: red; /* theme.palette.error.main, */
}
