.dataTable {
    height: 1px;
}

.dataTable > :global(thead) {
    user-select: none;
}

td.dataCell {
    padding-top: var(--spacers-dp8);
    padding-bottom: var(--spacers-dp8);
    font-size: 11px;
}

td.dataCell:hover {
    cursor: default;
}

td.lightText {
    color: var(--colors-white);
}

.columnHeader > :global(span.container) {
    justify-content: space-between;
}

.columnHeader :global(input.dense) {
    padding: 4px 6px;
}

.columnHeader :global(input::placeholder) {
    color: var(--colors-grey400);
}

/* Hide the filter icon */
.columnHeader
    > :global(span.container)
    > :global(span.top)
    > button:last-of-type {
    visibility: hidden;
}

.noResults {
    display: flex;
    color: var(--colors-grey600);
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: 40px;
}

.noSupport {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--colors-grey600);
    font-style: italic;
}
