.filterInput {
    position: absolute;
    left: 0;
    top: 22px;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    font-weight: normal;
    padding-left: 5px;
}

.filterInput::placeholder {
    color: #ddd;
}
