.resizeHandle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-width: 24px;
    height: 100%;
    z-index: 1500;
    cursor: grab;
}

.resizeHandle:hover,
.resizeHandle:active {
    background-color: var(--colors-grey300);
    color: var(--colors-grey900);
}

.resizeHandle:active {
    cursor: grabbing;
}
