.resizeHandle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1500;
    cursor: grab;
}

.resizeHandle:hover,
.resizeHandle:active {
    background-color: var(--colors-grey300);
    color: var(--colors-grey900);
}

.resizeHandle:active {
    cursor: grabbing;
}
