td.tableCell {
    font-size: 12px;
    padding: 6px 10px;
}

td.darkText {
    color: var(--colors-white);
}

thead th.columnHeader {
    font-size: 12px;
    padding: 6px 10px;
}


/* Hide the filter icon */
.columnHeader > span > span > button:last-of-type {
    visibility: hidden;
}

/* TODO */
.noSupport {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #333;
    font-style: italic;
    line-height: 30px;
}
