td.sizeClass {
    padding: 7px 5px;
}

td.fontClass {
    font-size: 11px;
}

td.darkText {
    color: var(--colors-white);
}

/* Hide the filter icon */
.columnHeader > span > span > button:last-of-type {
    visibility: hidden;
}

