.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Roboto font is not loaded by dom-to-image => switch to Arial */
.download :global(div) {
    font-family: Arial, sans-serif !important;
}

.download :global(.dhis2-map-timeline) {
    display: none;
}

.download :global(.dhis2-map-period) {
    bottom: 10px !important;
}
