.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.download {
    border: var(--spacers-dp8) solid #ccc;
}

.download :global(.dhis2-map-timeline) {
    display: none;
}

.download :global(.dhis2-map-period) {
    bottom: 10px !important;
}
