.mapName {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: calc(100% - 100px);
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    font-size: 14px;
    pointer-events: none;
}

.name {
    composes: box from '../../../styles/map.css';
    margin: var(--spacers-dp8);
    padding: 6px var(--spacers-dp8);
    line-height: 17px;
}
