.dhis2-map-popup {
    max-width: 80%;
}

.dhis2-map-popup .maplibregl-popup-content {
    padding-top: var(--spacers-dp16);
    min-width: 150px;
}

.maplibregl-popup-close-button:focus {
    outline: none;
}
