.maplibregl-popup {
    width: fit-content;
    overflow-wrap: break-word;
    max-width: min(320px, 80%);
}

.maplibregl-popup-content {
    width: 100%;
    padding-top: var(--spacers-dp16);
}

.dhis2-map-popup-event,
.dhis2-map-popup-trackedentity,
.dhis2-map-popup-thematic,
.dhis2-map-popup-orgunit {
    max-height: 50vh;
    overflow-y: auto;
    min-width: 160px;
}

.dhis2-map-popup-event,
.dhis2-map-popup-trackedentity {
    min-height: 56px;
}

.dhis2-map-popup-event table,
.dhis2-map-popup-trackedentity table {
    width: 100%;
    table-layout: fixed;
}

.dhis2-map-popup-event th,
.dhis2-map-popup-event td,
.dhis2-map-popup-trackedentity th,
.dhis2-map-popup-trackedentity td {
    text-align: left;
    overflow-wrap: break-word;
    white-space: normal;
}
