.ColumnHeader {
    position: relative;
}

.ColumnHeader-label {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    right: 15px;
    user-select: none;
    overflow: hidden;
}

.ColumnHeader svg {
    position: absolute;
    top: 5px;
    right: 0;
}
