.DataTable {
    font-size: 11px;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.ReactVirtualized__Table__headerRow {
    position: relative;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
    z-index: 10;
}

.ReactVirtualized__Table__headerTruncatedText {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 10px;
    right: 15px;
    user-select: none;
    overflow: hidden;
}

.ReactVirtualized__Table__sortableHeaderIcon {
    position: absolute;
    top: 5px;
    right: 0;
}

.ReactVirtualized__Table__headerColumn {
    height: 48px;
    margin-bottom: 2px;
    position: relative;
}

.ReactVirtualized__Table__row {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    z-index: 9;
}

.ReactVirtualized__Table__row:hover {
    background-color: #fafafa;
}

.ReactVirtualized__Table__rowColumn.right {
    text-align: right;
}
