.FilterMultiSelect {
    top: 22px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.FilterMultiSelect-item > div > div {
    padding-left: 32px !important;
    padding-right: 8px !important;
}

.FilterMultiSelect-item svg {
    left: 5px !important;
    top: 0 !important;
}
