.ResizeHandle {
    position: absolute;
    left: 50%;
    top: -8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2;
    width: 40px;
    height: 12px;
    background: #fff;
    z-index: 1500;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ResizeHandle:hover,
.ResizeHandle:active {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.ResizeHandle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
 }

.ResizeHandle svg {
    margin-left: 8px;
    margin-top: -6px;
}
