.layerLoading {
    display: flex;
    align-items: center;
    padding: var(--spacers-dp16);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
}

.layerLoading div {
    display: inline-block;
    margin-right: var(--spacers-dp24);
}
